@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1310;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #635854;
$blueColor: #3596f5;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1 + px) {
		max-width: 970px;
	}
	@media (max-width: $md2 + px) {
		max-width: 750px;
	}
	@media (max-width: $md3 + px) {
		max-width: none;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

//===================================================================================================================================
.page {
	padding: 54px 0px;
	&__container {
		display: flex;
	}

	&__home {
	}

	&__content {
		@include adaptiv-value("padding-top", 60, 10, 1);
		@include adaptiv-value("padding-bottom", 67, 10, 1);
	}
}

.content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	text-align: center;
	align-items: center;
	justify-content: space-between;

	&__heading {
		opacity: 0.66;
		text-transform: uppercase;
		font-family: "BebasL";
		font-weight: 700;
		font-size: 37px;
		line-height: 44px;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	}

	&__counter {
	}

	&__button {
		background-color: $blueColor;
		padding: 16px 36px;
		border-radius: 6px;
		color: #fff;
		font-size: 16px;
		line-height: 19px;
	}
}
.counter {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__arrow-up {
		transform: rotate(180deg);
	}

	&__number {
		padding: 35px 0px;
		font-size: 124px;
		font-family: "Bebas", sans-serif;
	}

	&__arrow-down {
	}
}
.home {
	&__img path {
		opacity: 0;
		cursor: pointer;
	}
	&__img path:hover {
		opacity: 1;
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
